services:
  nginx:
    build: ./requirements/nginx
    image: nginx
    pull_policy: never
    container_name: nginx
    restart: unless-stopped
    volumes:
      - wp-data:/var/www/html
    ports:
      - 443:443
    networks:
      - inception
    configs:
      - source: nginx-nginx.conf
        target: /etc/nginx/nginx.conf
    env_file:
      - .env
    depends_on:
      - wordpress

  mariadb:
    build: ./requirements/mariadb
    image: mariadb
    pull_policy: never
    restart: unless-stopped
    container_name: mariadb
    secrets:
      - wp_admin_password
      - db_password
      - db_root_password
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - inception
    env_file:
      - .env

  wordpress:
    build: ./requirements/wordpress
    image: wordpress
    pull_policy: never
    restart: unless-stopped
    container_name: wordpress
    secrets:
      - wp_admin_password
      - wp_user_password
      - db_password
    volumes:
      - wp-data:/var/www/html
    networks:
      - inception
    env_file:
      - .env
    depends_on:
      - mariadb

configs:
  nginx-nginx.conf:
    file: ./requirements/nginx/dependancies/nginx.conf 

volumes:
  wp-data:
    name: wp-data
    driver: local
    driver_opts:
      type: none
      device: /home/rapcampo/data/wordpress
      o: bind
  db-data:
    name: db-data
    driver: local
    driver_opts:
      type: none
      device: /home/rapcampo/data/mariadb
      o: bind

secrets:
  wp_user_password:
    file: ../secrets/wp_user_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt

networks:
  inception:
    name: inception
    driver: bridge
